<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <h1 class="greeting">Hi <%= username %>!</h1>
    <div id="links"></div>
    <button id="addButton">+</button>

    <div id="popup" class="hidden">
        <h2>Add a new link</h2>
        <form id="linkForm">
            <label for="linkName">Link Name:</label><br>
            <input type="text" id="linkName" name="linkName"><br>
            <label for="linkUrl">Link URL:</label><br>
            <input type="text" id="linkUrl" name="linkUrl"><br>
            <input type="submit" value="Add Link">
        </form>
    </div>

    <!-- Logout Button -->
    <form action="/logout?_method=delete" method="post" style="position: absolute; top: 20px; right: 20px;">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Logout</button>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../home.js"></script>
</body>
</html>
