<link rel="stylesheet" href="/login.css">

<!-- Login HTML -->
<h1>Login</h1>
<% if (messages.error) { %>
    <p><%= messages.error %></p>
<% } %>
<form action="/login" method="post">
    <div>
        <label>Email:</label>
        <input type="email" name="email" id="email" placeholder="Enter Email" required>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter Password" required>
    </div>

    <input type="submit" value="Login">
</form>
<a href="/register">Register</a>