body {
    font-family: Arial, sans-serif;
    background-color: #e8ebff;
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.brand {
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px; /* Reduced for mobile */
    margin-top: 30px;
}

.logout-btn {
    padding: 8px 16px;
    margin-right: 20px; /* Reduced for mobile */
    margin-top: 30px;
    border: none;
    background-color: #be1616;
    color: #fdfdfd;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.logout-btn:hover {
    background-color: #9a1111;
}

.username {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: #989898;
}

#links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(50%);
    padding-top: 50px;
    margin: 50px 0;
    width: 100%;
}

#links a {
    text-decoration: none;
    color: #007AFF;
    margin: 5px;
    font-size: 1.2em;
    border: 1px solid #007AFF;
    padding: 15px;
    border-radius: 7px;
    transition: all 0.3s ease;
    text-align: center;
    box-sizing: border-box;
}

#links a:hover {
    background-color: #007AFF;
    color: #fff;
}

#addButton {
    display: block;
    width: 35px;
    height: 35px;
    background-color: #37416a;
    color: #fff;
    border: none;
    border-radius: 25%;
    font-size: 1.75em;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
}

#addLinks {
    font-size: medium;
    color: #6b6b6b;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #be1616;
}

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fdfdfd;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}

#popup.hidden {
    display: none;
}

#linkForm {
    display: flex;
    flex-direction: column;
}

#linkForm input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    background-color: #fdfdfd;
}

#linkForm input[type="submit"] {
    margin: 20px 0px;
    padding: 10px;
    background-color: #007AFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 7px;
}

#linkForm input[type="submit"]:hover {
    background-color: #0051c7;
}

/* Tablet view */
@media screen and (min-width: 768px) {
    .brand {
        margin-left: 40px;
    }

    .logout-btn {
        margin-right: 40px;
    }

    #links a {
        width: 30%;
    }

    #popup {
        width: 70%;
    }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
    .brand {
        margin-left: 70px;
    }

    .logout-btn {
        margin-right: 70px;
    }

    #links a {
        width: 20%;
    }

    #popup {
        width: 50%;
    }
}