body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.imgur.com/FtLAgfw.png');
    background-color: #e8ebff;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 1;
}

.brand {
    font-weight: bold;
    font-size: 24px;
    margin-left: 20px; /* Reduced for mobile */
    margin-top: 30px;
}

.signup-btn {
    padding: 8px 16px;
    margin-right: 20px; /* Reduced for mobile */
    margin-top: 30px;
    border: none;
    background-color: #6c59bf;
    color: #fdfdfd;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.signup-btn:hover {
    background-color: #8170cd;
}

.login-message {
    text-align: center;
    padding-top: 40px;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 60vh;
    height: 60vh;
    width: 90%; /* Reduced for mobile */
    margin: 0 auto;
    background-color: #fdfdfd;
    padding: 20px; /* Reduced for mobile */
    border-radius: 0px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    width: 100%;
    padding-bottom: 40px; /* Reduced for mobile */
    text-align: center;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 7px;
    background-color: #fdfdfd;
}

input[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    border: none;
    background-color: #6c59bf;
    color: #fff;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8170cd;
}

.copy-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    font-size: small;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

/* Tablet view */
@media screen and (min-width: 768px) {
    .brand {
        margin-left: 40px;
    }

    .signup-btn {
        margin-right: 40px;
    }

    .login-box {
        width: 60%;
        padding: 30px;
        border-radius: 25px;
    }

    form {
        padding-bottom: 50px;
    }
}

/* Desktop view */
@media screen and (min-width: 1024px) {
    .brand {
        margin-left: 70px;
    }

    .signup-btn {
        margin-right: 70px;
    }

    .login-box {
        width: 350px;
        padding: 40px;
        border-radius: 25px;
    }

    form {
        padding-bottom: 60px;
    }
}